{% extends "page.twig" %}

{% block title %}{{ db_repo.name }} &ndash; {{ locale.name }} &ndash; {{ file }}{% endblock %}

{% block style %}
tr.same {
	outline: 2px solid orange;
}
tr.missing {
	outline: 2px solid red;
}
td.key {
	max-width: 300px;
}
td.value {
	width: 500px;
}
{% endblock style %}

{% block content %}
	<h2><a href="../repo.php">{{ db_repo.name }}</a> &ndash; {{ locale.name }} &ndash; {{ file }}</h2>

	<form action="save.php" method="post"><input type="hidden" name="file" value="{{ file }}" />

	<table id="translation_strings">
	{% for s in strings %}
		{% if s.locale_value == "" %}
			{% set className = "missing" %}
		{% elseif s.locale_value == s.base_value %}
			{% set className = "same" %}
		{% else %}
			{% set className = "" %}
		{% endif %}
		<tr class="{{ className }}">
		<td class="key" style="font-size: 11px">
		<b>{{ s.key }}</b>
		{% if s.comment %}
			<br />
			<i>{{ s.comment }}</i>
		{% endif %}
		</td>
		<td class="value">
			<div class="base_value">{{ s.base_value }}</div>
			<input type="text" name="locale_strings[{{ s.key }}]" value="{{ s.locale_value }}" style="width: 100%; -moz-box-sizing: border-box" />
		</td>
		</tr>
	{% endfor %}
	<tr>
		<td class="submit" colspan="2">
			<input type="submit" value="Save" />
		</td>
	</tr>
	</table>

	</form>
{% endblock content %}

{% block script %}
<script type="text/javascript">

var stringsTable = document.getElementById('translation_strings');
stringsTable.addEventListener('change', function(aEvent) {
	var input = aEvent.originalTarget;
	var row = input.parentNode.parentNode;
	var inputValue = input.value.trim();
	var baseValue = row.querySelector('.base_value').textContent.trim();

	row.classList.remove('missing');
	row.classList.remove('same');
	if (!inputValue) {
		row.classList.add('missing');
	} else if (inputValue == baseValue) {
		row.classList.add('same');
	}
});

</script>
{% endblock %}
