{% extends "page.twig" %}

{% block title %}{{ db_repo.name }} &ndash; {{ locale.name }}{% endblock %}

{% block style %}
.ok {
	display: inline-block;
	height: 10px;
	background-color: green;
}
.same {
	display: inline-block;
	height: 10px;
	background-color: orange;
}
.missing {
	display: inline-block;
	height: 10px;
	background-color: red;
}
{% endblock %}

{% block content %}
	<h2><a href="../repo.php">{{ db_repo.name }}</a> &ndash; {{ locale.name }}</h2>

	<div class="floatright rightcolumn">
		{% if locale.db_translator.name %}
			<p>Translator: {{ locale.db_translator.name }}{# {{ locale.db_translator.email }#}</p>
		{% endif %}
		{% if dirty > 0 %}
			<p>{{ dirty }} file{{ dirty | pluralize('s have', ' has') }} been modified
			{% if locale.user_is_translator %}
				<input type="button" onclick="location.href='git.php'" value="Upload changes"></p>
			{% endif %}
		{% endif %}

		<p><a href="xpi.php">Download add-on with your changes</a></p>
		{% if db_locale.pullrequest %}
			<p><a href="https://github.com/{{ repo.fullname }}/pull/{{ db_locale.pullrequest }}">View most recent pull request</a></p>
		{% endif %}
	</div>

	<div class="leftcolumn">
		{% for f in base_files %}
			{% set l = files[f.file] %}
			{% set ok = l.string_count - l.string_dupe %}
			{% set missing = f.string_count - l.string_count %}

			{% if loop.first %}
				<table width="100%">
				<tr>
				<th width="150"></th>
				<th width="50" align="center">Strings</th>
				<th width="100" align="center">Updated</th>
				<th>Summary</th>
				</tr>
			{% endif %}
			<tr>
			{% if locale.user_is_translator %}
				<td><a href="edit.php?file={{ f.file }}">{{ f.file }}</a></td>
			{% else %}
				<td><a href="view.php?file={{ f.file }}">{{ f.file }}</a></td>
			{% endif %}
			<td align="center">{{ f.string_count }}</td>
			<td align="center">{% if l %}{{ l.updated | date("Y-m-d") }}{% endif %}</td>
			<td>
			{% spaceless %}
			{% if ok %}
				<div class="ok" title="{{ ok }} string{{ ok | pluralize("s have", " has") }} been translated" style="width: {{ ok * 100 / f.string_count }}%"></div>
			{% endif %}
			{% if l.string_dupe %}
				<div class="same" title="{{ l.string_dupe }} string{{ l.string_dupe | pluralize("s match", " matches") }} the en-US string" style="width: {{ l.string_dupe * 100 / f.string_count }}%"></div>
			{% endif %}
			{% if missing %}
				<div class="missing" title="{{ missing }} string{{ missing | pluralize("s are", " is") }} missing" style="width: {{ missing * 100 / f.string_count }}%"></div>
			{% endif %}
			{% endspaceless %}
			</td>
			</tr>
			{% if loop.last %}
				</table>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
