{% extends "page.twig" %}

{% block title %}{{ db_repo.name }} &ndash; {{ locale.name }}{% endblock %}

{% block style %}
.ok {
	display: inline-block;
	height: 10px;
	background-color: green;
}
.dupe {
	display: inline-block;
	height: 10px;
	background-color: orange;
}
.notok {
	display: inline-block;
	height: 10px;
	background-color: red;
}
{% endblock %}

{% block content %}
	<h2><a href="../repo.php">{{ db_repo.name }}</a> &ndash; {{ locale.name }}</h2>

	<div class="floatright rightcolumn">
		{% if locale.db_translator.name %}
			<p>Translator: {{ locale.db_translator.name }}{# {{ locale.db_translator.email }#}</p>
		{% endif %}
		{% if dirty > 0 %}
			<p>{{ dirty }} file{{ dirty | pluralize('s have', ' has') }} been modified
			<input type="button" onclick="location.href='git.php'" value="Upload changes"></p>
		{% endif %}

		<p><a href="xpi.php">Download add-on with your changes</a></p>
		{% if db_locale.pullrequest %}
			<p><a href="https://github.com/{{ repo.fullname }}/pull/{{ db_locale.pullrequest }}">View most recent pull request</a></p>
		{% endif %}
	</div>

	<div class="leftcolumn">
		{% for f in repo.files %}
			{% set l = files[f.file] %}
			{% set ok = l.string_count - l.string_dupe %}
			{% set notok = f.string_count - l.string_count %}

			{% if loop.first %}
				<table>
				<tr>
				<th></th>
				<th></th>
				<th>Updated</th>
				<th>Summary</th>
				</tr>
			{% endif %}
			<tr>
			<td>{{ l.file }}</td>
			{% if locale.user_is_translator %}
				<td><a href="edit.php?file={{ l.file }}">Edit</a></td>
			{% else %}
				<td><a href="view.php?file={{ l.file }}">View</a></td>
			{% endif %}
			<td>{% if l %}{{ l.updated | date("Y-m-d") }}{% endif %}</td>
			<td>
			{% spaceless %}
			{% if ok %}
				<div class="ok" title="{{ ok }} string{{ ok | pluralize("s have", " has") }} been translated" style="width: {{ ok * 10 }}px"></div>
			{% endif %}
			{% if l.string_dupe %}
				<div class="dupe" title="{{ l.string_dupe }} string{{ l.string_dupe | pluralize("s match", " matches") }} the en-US string" style="width: {{ l.string_dupe * 10 }}px"></div>
			{% endif %}
			{% if notok %}
				<div class="notok" title="{{ notok }} string{{ notok | pluralize("s are", " is") }} missing" style="width: {{ notok * 10 }}px"></div>
			{% endif %}
			{% endspaceless %}
			</td>
			</tr>
			{% if loop.last %}
				</table>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
