{% extends "page.twig" %}

{% block title %}{{ db_repo.name }}{% endblock %}

{% block style %}
.ok {
	display: inline-block;
	height: 10px;
	background-color: green;
}
.same {
	display: inline-block;
	height: 10px;
	background-color: orange;
}
.missing {
	display: inline-block;
	height: 10px;
	background-color: red;
}
{% endblock %}

{% block content %}
	<h2>{{ db_repo.name }}</h2>

	<div class="floatright rightcolumn">
		{% if db_user is not null %}
			<form action="new.php" method="post">
			<p>
			Create a new translation: <select name="locale" required="">{% spaceless %}
			<option></option>
			{% for k, l in global_locales %}
				{% if k != "en-US" and (repo_locales[k] is null or repo_locales[k].external) %}
					<option value="{{ k }}">{{ l }}{% if repo_locales[k].external %} *{% endif %}</option>
				{% endif %}
			{% endfor %}
			{% endspaceless %}</select>
			<input type="submit" value="Go" />
			</p>
			<p>* Locale managed outside Zoo.</p>
			</form>
		{% endif %}

		{% if repo.user_is_owner %}
			<p><input type="button" onclick="location.href='update.php'" value="Update repository" /></p>
		{% endif %}
		{% if db_user is null %}
			<p>To begin a new translation, first click the Sign In button above.</p>
		{% endif %}
		<p><a href="https://github.com/{{ repo.owner }}/{{ repo.name }}">See {{ repo.owner }}/{{ repo.name }} on GitHub</a>
	</div>

	<div class="leftcolumn">
		{% for l in repo_locales %}
			{% set s = l.summary %}
			{% set ok = s.string_count - s.string_dupe %}
			{% set missing = base_summary.string_count - s.string_count %}

			{% if loop.first %}
				<table width="100%">
				<tr>
				<th width="150"></th>
				<th width="100" align="center">Updated</th>
				<th>Summary</th>
				</tr>
			{% endif %}
			<tr>
			<td>
				{% if l.external %}
					{{ l.name | default(l.key) }}
				{% else %}
					<a href="{{ l.key }}/locale.php">{{ l.name | default(l.key) }}</a>
				{% endif %}
			</td>
			<td align="center">{% if s is not null %}{{ s.updated | date("Y-m-d") }}{% endif %}</td>
			<td>
			{% if s is not null %}
				{% spaceless %}
				{% if ok %}
					<div class="ok" title="{{ ok }} string{{ ok | pluralize("s have", " has") }} been translated" style="width: {{ ok * 100 / base_summary.string_count }}%"></div>
				{% endif %}
				{% if s.string_dupe %}
					<div class="same" title="{{ s.string_dupe }} string{{ s.string_dupe | pluralize("s match", " matches") }} the en-US string" style="width: {{ s.string_dupe * 100 / base_summary.string_count }}%"></div>
				{% endif %}
				{% if missing %}
					<div class="missing" title="{{ missing }} string{{ missing | pluralize("s are", " is") }} missing" style="width: {{ missing * 100 / base_summary.string_count }}%"></div>
				{% endif %}
				{% endspaceless %}
			{% endif %}
			</td>
			</tr>
			{% if loop.last %}
				</table>
			{% endif %}
		{% else %}
			<p>No translations exist yet.</p>
		{% endfor %}
	</div>
{% endblock %}
