{% extends "page.twig" %}

{% block content %}
	{% for r in repos %}
		{% if loop.first %}
			<h2>Repos:</h2>
			<ul>
		{% endif %}
		<li><a href="/{{ db_user.github }}/{{ r }}/repo.php">{{ r }}</a></li>
		{% if loop.last %}
			</ul>
		{% endif %}
	{% endfor %}

	{% for t in translations %}
		{% if loop.first %}
			<h2>Translations:</h2>
			<ul>
		{% endif %}
		<li><a href="/{{ t.repo }}/{{ t.locale }}/locale.php">{{ t.repo }} &ndash; {{ t.locale_name | default(t.locale) }}</a></li>
		{% if loop.last %}
			</ul>
		{% endif %}
	{% endfor %}

	{#
	<!-- Name: <input type="text" name="name" value="{{ db_user.name }}" /><br/>
	GitHub username: <input type="text" name="github" value="{{ db_user.github }}" /><br/> -->

	Locales: <input type="text" id="locale" value="{{ db_user.locale }}" readonly="" /><br/>
	<input id="locale_name" value="{% for l in db_user.locales %}
		{%- if not loop.first %}, {% endif -%}
		{{- global_locales[l] -}}
	{% endfor %}" readonly="" /><br />
	<select>
	{% for key, name in global_locales %}
		<option value="{{ key }}">{{ name }}</option>
	{% endfor %}
	</select>
	<input type="button" value="Add"/>#}

{% endblock %}
